*
  margin 0
  padding 0

* + *
  margin 10px 0 0

.component-app
  margin 10px 5px
  img
    float left
    width 100px

  ul
    background #EEE
    list-style none

  li
    clear left
    overflow auto
    > div
      margin 0 0 0 110px

@media screen and (min-width: 900px)
  .component-app
    display flex
    justify-content center
    margin 10px 0

  ul
    max-width 900px
    padding 10px
    width 100%
